AppCliente_WebServiceIUT/Connected Services/ServiceCRUD/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRUD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRUD_AddDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartment" />
  </wsdl:message>
  <wsdl:message name="ICRUD_AddDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_AddPromo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPromo" />
  </wsdl:message>
  <wsdl:message name="ICRUD_AddPromo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPromoResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="ICRUD_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_UpdatePromoLists_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePromoLists" />
  </wsdl:message>
  <wsdl:message name="ICRUD_UpdatePromoLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePromoListsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_UpdateDeptLists_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeptLists" />
  </wsdl:message>
  <wsdl:message name="ICRUD_UpdateDeptLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeptListsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRUD">
    <wsdl:operation name="AddDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/AddDepartment" message="tns:ICRUD_AddDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/AddDepartmentResponse" message="tns:ICRUD_AddDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPromo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/AddPromo" message="tns:ICRUD_AddPromo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/AddPromoResponse" message="tns:ICRUD_AddPromo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/AddStudent" message="tns:ICRUD_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/AddStudentResponse" message="tns:ICRUD_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePromoLists">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/UpdatePromoLists" message="tns:ICRUD_UpdatePromoLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/UpdatePromoListsResponse" message="tns:ICRUD_UpdatePromoLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeptLists">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/UpdateDeptLists" message="tns:ICRUD_UpdateDeptLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/UpdateDeptListsResponse" message="tns:ICRUD_UpdateDeptLists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRUD" type="tns:ICRUD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDepartment">
      <soap:operation soapAction="http://tempuri.org/ICRUD/AddDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPromo">
      <soap:operation soapAction="http://tempuri.org/ICRUD/AddPromo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/ICRUD/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePromoLists">
      <soap:operation soapAction="http://tempuri.org/ICRUD/UpdatePromoLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeptLists">
      <soap:operation soapAction="http://tempuri.org/ICRUD/UpdateDeptLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRUD">
    <wsdl:port name="BasicHttpBinding_ICRUD" binding="tns:BasicHttpBinding_ICRUD">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebService_IUT/CRUD/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>