AppCliente_WebServiceIUT/Connected Services/ServiceSearch/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Search" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebService_IUT.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearch_SearchStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudents" />
  </wsdl:message>
  <wsdl:message name="ISearch_SearchStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_EditStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudent" />
  </wsdl:message>
  <wsdl:message name="ISearch_EditStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearch">
    <wsdl:operation name="SearchStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/SearchStudents" message="tns:ISearch_SearchStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/SearchStudentsResponse" message="tns:ISearch_SearchStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/EditStudent" message="tns:ISearch_EditStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/EditStudentResponse" message="tns:ISearch_EditStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearch" type="tns:ISearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchStudents">
      <soap:operation soapAction="http://tempuri.org/ISearch/SearchStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/ISearch/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Search">
    <wsdl:port name="BasicHttpBinding_ISearch" binding="tns:BasicHttpBinding_ISearch">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebService_IUT/Search/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>