AppCliente_WebServiceIUT/Connected Services/ServiceSearch/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebService_IUT.DataContracts" />
  <xs:element name="SearchStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentToSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService_IUT.DataContracts" minOccurs="0" name="SearchStudentsResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldStudentInfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentBirthDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentPromo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>